.header {
  border-bottom: 1px solid #ececec;
  @media screen and (max-width: 768px) {
    height: 60px;
    display: flex;
    align-items: center;
  }
}

.wrap-nav {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

/* site nav */

.site-nav {
  display: none;
  margin-left: 88px;
  @media screen and (min-width: 768px) {
    margin-left: 93px;
    display: flex;
    position: relative;
  }
}

.site-nav__item {
  top: 0px;
  .site-nav &:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__link {
  display: block;
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 31px;
  padding-bottom: 31px;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.site-nav .site-nav__link--stydio {
  color: var(--accent-color);
}

.site-nav .site-nav__link--portfolio {
  color: var(--accent-color);
}

.site-nav__link--stydio::after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;

  width: 48px;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

.site-nav__link--portfolio::after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 47%;
  transform: translate(-50%);

  width: 78px;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}
/* ----------LIST NAV------- */

.list-contacts__link {
  display: flex;
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primery-text-color);

  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.02em;
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
    cursor: pointer;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.list-contacts {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    .list-contacts__item:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    .list-contacts__item:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.list-contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

/* ----------MOB-MENU------- */

.mob-menu {
  position: fixed;
  background-color: #ffffff;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  padding-top: 48px;
  padding-bottom: 48px;
  transition: transform 250ms ease-in-out;

  transform: translateX(0);
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mob-menu.is-open {
  transform: translateX(-100%);
  transition: transform 250ms ease-in-out;
}

.mob-btn-open {
  display: none;
  margin-left: auto;
  background-color: #ffffff;
  @media screen and (max-width: 768px) {
    display: block;
  }
}

.mob-btn-close {
  background-color: #ffffff;
  position: absolute;
  top: 20px;
  right: 25px;
}

.mob-icon-open {
  width: 24px;
  height: 16px;
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.mob-icon-close {
  width: 19px;
  height: 19px;
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.mob-nav__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-nav__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.mob-contacts__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-nav .mob-nav__link--stydio {
  color: var(--accent-color);
}

.mob-nav .mob-nav__link--portfolio {
  color: var(--accent-color);
}

.mob-contacts__tel {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.mob-contacts__mail {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: var(--primery-text-color);
}

.mob-socials {
  display: flex;
  margin-top: 64px;
  @media screen and (max-width: 375px) {
    display: block;
  }
}

.mob-socials__item {
  &:not(:first-child) {
    border-left: 1px solid rgba(33, 33, 33, 0.2);
  }
  &:not(:last-child) {
    margin-right: 10px;
  }
  &:not(:first-child) {
    padding-left: 10px;
  }
}

.mob-socials__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;

  letter-spacing: 0.02em;

  color: var(--accent-color);
}
