:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --second-text-color: #ffffff;
  --different-section-color: #f5f4fa;
  --basic-btn-color: #212121;
  --second-btn-color: #ffffff;
  --logo-font: Raleway;
  --basic-font: Roboto;
}
